@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "system-ui", "-apple-system", "sans-serif";
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
  }
}